# flyctl launch added from .gitignore

###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles
var
vendor
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
phpunit.xml
**/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
**/.phpunit.result.cache
phpunit.xml
###< symfony/phpunit-bridge ###

# flyctl launch added from vendor/heroku/heroku-buildpack-php/.gitignore
vendor/heroku/heroku-buildpack-php/**/.DS_Store
vendor/heroku/heroku-buildpack-php/**/composer.lock
vendor/heroku/heroku-buildpack-php/**/vendor
vendor/heroku/heroku-buildpack-php/**/test/fixtures/repos

# flyctl launch added from vendor/heroku/heroku-buildpack-php/support/devcenter/.gitignore
!vendor/heroku/heroku-buildpack-php/support/devcenter/**/composer.lock
vendor/heroku/heroku-buildpack-php/support/devcenter/**/vendor

# flyctl launch added from vendor/heroku/heroku-buildpack-php/test/fixtures/.gitignore
!vendor/heroku/heroku-buildpack-php/test/fixtures/**/composer.lock
vendor/heroku/heroku-buildpack-php/test/fixtures/**/vendor

# flyctl launch added from vendor/heroku/heroku-buildpack-php/test/fixtures/ci/phpunit/.gitignore
vendor/heroku/heroku-buildpack-php/test/fixtures/ci/phpunit/**/.phpunit.result.cache

# flyctl launch added from vendor/heroku/heroku-buildpack-php/test/var/.gitignore
vendor/heroku/heroku-buildpack-php/test/var/**/log/*

# flyctl launch added from vendor/psr/container/.gitignore
vendor/psr/container/**/composer.lock
vendor/psr/container/**/composer.phar
vendor/psr/container/vendor

# flyctl launch added from vendor/psr/event-dispatcher/.gitignore
vendor/psr/event-dispatcher/vendor
vendor/psr/event-dispatcher/**/composer.lock

# flyctl launch added from vendor/sebastian/resource-operations/.gitignore
vendor/sebastian/resource-operations/.idea
vendor/sebastian/resource-operations/.php_cs.cache
vendor/sebastian/resource-operations/build/FunctionSignatureMap.php
vendor/sebastian/resource-operations/composer.lock
vendor/sebastian/resource-operations/vendor
vendor/sebastian/resource-operations/.phpunit.result.cache

# flyctl launch added from vendor/sebastian/version/.gitignore
vendor/sebastian/version/.php_cs.cache
vendor/sebastian/version/.idea

# flyctl launch added from vendor/twig/extra-bundle/.gitignore
vendor/twig/extra-bundle/**/vendor
vendor/twig/extra-bundle/**/var
vendor/twig/extra-bundle/**/composer.lock
vendor/twig/extra-bundle/**/phpunit.xml
vendor/twig/extra-bundle/**/.phpunit.result.cache
fly.toml
