{% extends 'base.html.twig' %}

{% block title %}Catalogue de Produits{% endblock %}

{% block body %}
    <h1>Catalogue de Produits</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'products/filter.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9">
                <div class="grid">
                    {% for product in products %}
                        {% include 'products/card.html.twig' with {product: product} only %}
                    {% endfor %}
                </div>
                <div class="mt-4">
                    {{ knp_pagination_render(products)}}
                 </div>
            </div>
        </div>
        
             
    </div>    
{% endblock %}
