<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% endblock %}
        <style>
            .grid{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
            }
            .filter{
                display: block;
                position: sticky;
                top: 20px;
            }
        </style>

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <div class="navbar navbar-dark bg-primary">
        <a href="/products" class="navbar-brand mb-0 h1">Produits</a>
    </div>
        <div style="margin-top: 3rem;">
         {% block body %}{% endblock %}
         <div>
        
    </body>
</html>
